*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  color: $brown;
  font-family: 'Josefin Sans';
  height: 100vh;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(#fff, 0.3);
}

body, h1, h3, h4 {
  font-size: 20px;
  font-weight: 400;
}

footer {
  bottom: 1rem;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  width: 700px;
}

input {
  clip-path: polygon(0 0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

main {
  @extend %bg;
  animation: letsgo 0.5s 2s forwards paused;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
}

.loading {
  @extend %fixed;
  color: rgba(#fff, 0.8);
  text-shadow: none;

  div:last-child {
    @extend %fixed;
    animation: grain 3s steps(5) infinite;
    background: url('img/grainwhite.webp');
    background-size: 500px;
    opacity: 0.1;
  }

  .load {
    display: none;
  }

  .sorry {
    line-height: 1.3;
    padding: 2rem;
  }
}

@media (min-width: 1024px) and (min-height: 600px) {
  .loading .load {
    display: block;
  }

  .loading .sorry {
    display: none;
  }

  main {
    animation-play-state: running;
  }
}

@keyframes letsgo {
  to {
    opacity: 1;
    visibility: visible;
  }
}

section {
  @extend %fixed;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    ". header header header header header header header ."
    ". . . . . . . . ."
    ". glyph1 glyph2 glyph3 glyph4 glyph5 glyph6 glyph7 ."
    ". reflect1 reflect2 reflect3 reflect4 reflect5 reflect6 reflect7 ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  grid-template-columns: 1fr repeat(7, 120px) 1fr;
  grid-template-rows: auto 1fr repeat(2, 140px) 1fr 1fr;
}

small {
  display: block;
  line-height: 1.3;
  margin-top: 0.5rem;
}

// Grain

.grain {
  opacity: 0.1;
  pointer-events: none;
  z-index: 2000;

  div {
    @extend %fixed;
    animation: grain 3s steps(5) infinite;
    background: url('img/grain.webp');
    background-size: 500px;
  }
}

@keyframes grain {
  0%   { background-position: 25% 72%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  20%  { background-position: 1% 61%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  40%  { background-position: 84% 75%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  60%  { background-position: 2% 3%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  80%  { background-position: 67% 99%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  100% { background-position: 0% 0%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
}

// Pulse

.pulse {
  animation: pulsein $ingametimer $startdelay + 1s forwards paused;
  pointer-events: none;
  visibility: hidden;
  z-index: 2000;

  div {
    @extend %fixed;
    animation: pulse 2s infinite both;
    background: radial-gradient(transparent, #000) 50% 50%;
    background-size: 100%;
  }
}

@keyframes pulsein {
  0% {
    background-size: 200%;
    opacity: 0;
  }
  50% {
    background-size: 200%;
    opacity: 0;
    visibility: visible;
  }
  90%, 100% {
    background-size: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes pulse {
  50% { background-size: 120%; }
}

// Card Flip

.card {
  background-color: transparent;
  perspective: 1000px;
  &:hover .card-inner {
    transform: rotateY(180deg);
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
