*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  @extend %bg;
  color: $brown;
  font-family: 'Nunito';
  font-size: 18px;
  height: 100vh;
  margin: 0;
  text-shadow: 0 1px 1px rgba(#fff, 0.3);
}

embed {
  display: none;
}

input {
  clip-path: polygon(0 0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

h1 {
  animation: h1 5s infinite both;
  color: $red;
  font-family: 'Kalam';
  font-size: 72px;
  letter-spacing: -.07em;
  margin: 0.5rem 0 1rem;
  text-shadow: 0 4px 0 darken($red, 15%), 0 1rem 0.75rem rgba(#000, 0.2);
  text-transform: uppercase;
  transform: skewX(-7deg) rotate(-7deg);

  b {
    display: inline-block;
    font-size: 124px;
    font-weight: normal;
    position: relative;
    top: 0.07em;
  }

  i {
    font-style: normal;
    margin-left: 0.15em;
  }
}

section {
  bottom: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    ". header header header header header header header ."
    ". . . . . . . . ."
    ". glyph1 glyph2 glyph3 glyph4 glyph5 glyph6 glyph7 ."
    ". reflect1 reflect2 reflect3 reflect4 reflect5 reflect6 reflect7 ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  grid-template-columns: 1fr repeat(7, 120px) 1fr;
  grid-template-rows: auto 1fr repeat(2, 140px) 1fr 1fr;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

hr {
  border: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 2000;

  &:before,
  &:after {
    color: lighten($red, 10%);
    // content: '𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕 𓉕';
    font-size: 2rem;
    letter-spacing: 0.05em;
    position: fixed;
    text-orientation: sideways;
    text-overflow: clip;
    top: 50%;
    white-space: nowrap;
    writing-mode: vertical-rl;
  }

  &:before {
    left: 0.5rem;
    transform: translateY(-50%) perspective(600px) rotateX(10deg);
  }

  &:after {
    right: 0.5rem;
    transform: translateY(-50%) scaleX(-1) perspective(600px) rotateX(10deg);
  }
}
