*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  @extend %bg;
  color: $brown;
  font-family: 'Josefin Sans';
  height: 100vh;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(#fff, 0.3);
}

body, h1, h3, h4 {
  font-size: 20px;
  font-weight: 400;
}

footer {
  bottom: 1rem;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  width: 700px;
}

input {
  clip-path: polygon(0 0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

section {
  @extend %fixed;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    ". header header header header header header header ."
    ". . . . . . . . ."
    ". glyph1 glyph2 glyph3 glyph4 glyph5 glyph6 glyph7 ."
    ". reflect1 reflect2 reflect3 reflect4 reflect5 reflect6 reflect7 ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  grid-template-columns: 1fr repeat(7, 120px) 1fr;
  grid-template-rows: auto 1fr repeat(2, 140px) 1fr 1fr;
}

hr {
  @extend %fixed;
  animation: bg 3s steps(5) infinite;
  background: url('img/grain.webp');
  background-size: 500px;
  border: 0;
  margin: 0;
  opacity: 0.15;
  pointer-events: none;
  z-index: 2000;
}

@keyframes bg {
  0%   { background-position: 25% 72%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  20%  { background-position: 1% 61%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  40%  { background-position: 84% 75%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  60%  { background-position: 2% 3%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  80%  { background-position: 67% 99%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
  100% { background-position: 0% 0%, -32px 50%, calc(100% + 37px) 50%, 50% 50%; }
}
