@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/kalam-v11-latin-700.woff2') format('woff2'),
       url('fonts/kalam-v11-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/josefin-sans-v17-latin-300.woff2') format('woff2'),
       url('fonts/josefin-sans-v17-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/josefin-sans-v17-latin-regular.woff2') format('woff2'),
       url('fonts/josefin-sans-v17-latin-regular.woff') format('woff');
}
