@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/kalam-v11-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/josefin-sans-v17-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/josefin-sans-v17-latin-regular.woff2') format('woff2');
}
