#lose,
#lose-checked {
  @extend %bg;
  @extend %fixed;
  animation: lose 0.5s both paused;
  visibility: hidden;
  z-index: 1000;

  .card {
    animation: drop 0.5s ease-in both paused;
    height: 190px;
    width: 360px;

    .card-front {
      background: url('img/lose.webp') 50% 50% no-repeat;
      background-size: contain;
      color: lighten($brown, 10%);
      font-size: 200px;
      line-height: 0.7;
    }

    .card-back {
      background: url('img/lose.webp') 50% 50% no-repeat;
      background-size: contain;
      display: grid;
      place-items: center;
      transform: rotateY(180deg);
    }
  }

  &:hover embed {
    display: revert;
  }
}

#lose {
  animation-delay: $ingametimer + $startdelay + 1s;
  .card {
    animation-delay: $ingametimer + $startdelay + 2s;
  }
}

#lose-checked {
  animation-delay: 1s;
  .card {
    animation-delay: 2s;
  }
}

@keyframes lose {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes drop {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    visibility: hidden;
  }
  to {
    opacity: 0.8;
    pointer-events: auto;
    visibility: visible;
  }
}
