#lose {
  @extend %bg;
  @extend %fixed;
  animation: lose 0.5s $ingametimer + $startdelay + 1s both paused;
  visibility: hidden;
  z-index: 1000;

  h4 {
    animation: drop 0.5s $ingametimer + $startdelay + 2s ease-in both paused;
    background: url('img/lose.webp') 50% 50% no-repeat;
    background-size: contain;
    color: #845c43;
    font-size: 200px;
    line-height: 1;
    margin: 0;
    padding: 0px 50px 80px
  }

  &:hover embed {
    display: revert;
  }
}

@keyframes lose {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
