// One
.p1.h1 { grid-area: glyph4; }
.p1.h2 { grid-area: glyph3; }
.p1.h3 { grid-area: glyph5; }
.p1.r1 { grid-area: reflect4; }
.p1.r2 { grid-area: reflect3; }
.p1.r3 { grid-area: reflect5; }

// Two
.p2.h1 { grid-area: glyph3; }
.p2.h2 { grid-area: glyph4; }
.p2.h3 { grid-area: glyph5; }
.p2.r1 { grid-area: reflect3; }
.p2.r2 { grid-area: reflect4; }
.p2.r3 { grid-area: reflect5; }

// Three
.p3.h1 { grid-area: glyph5; }
.p3.h2 { grid-area: glyph3; }
.p3.h3 { grid-area: glyph4; }
.p3.r1 { grid-area: reflect5; }
.p3.r2 { grid-area: reflect3; }
.p3.r3 { grid-area: reflect4; }

// Four
.p4.h1 { grid-area: glyph3; }
.p4.h2 { grid-area: glyph4; }
.p4.h3 { grid-area: glyph5; }
.p4.r1 { grid-area: reflect3; }
.p4.r2 { grid-area: reflect4; }
.p4.r3 { grid-area: reflect5; }

// Five
.p5.h1 { grid-area: glyph5; }
.p5.h2 { grid-area: glyph3; }
.p5.h3 { grid-area: glyph4; }
.p5.r1 { grid-area: reflect5; }
.p5.r2 { grid-area: reflect3; }
.p5.r3 { grid-area: reflect4; }

// Six
.p6.h1 { grid-area: glyph6; }
.p6.h2 { grid-area: glyph2; }
.p6.h3 { grid-area: glyph3; }
.p6.h4 { grid-area: glyph4; }
.p6.h5 { grid-area: glyph5; }
.p6.h6 { grid-area: glyph1; }
.p6.h7 { grid-area: glyph7; }
.p6.r1 { grid-area: reflect6; }
.p6.r2 { grid-area: reflect2; }
.p6.r3 { grid-area: reflect3; }
.p6.r4 { grid-area: reflect4; }
.p6.r5 { grid-area: reflect5; }
.p6.r6 { grid-area: reflect1; }
.p6.r7 { grid-area: reflect7; }
