// Letsago!

#start:checked {

  & + label {
    animation: woosh 0.25s 0.25s forwards;
    pointer-events: none;
  }

  & ~ section > .music {
    display: revert;
  }

  & ~ section .p1 {
    display: block;
  }

  & ~ section #timer {
    opacity: 1;
    visibility: visible;
  }

  & ~ section #timer .fill,
  & ~ section #lose,
  & ~ section #lose .card,
  & ~ section em > i,
  & ~ section .pulse,
  & ~ .grain, {
    animation-play-state: running;
  }
}



// Win :)

#p15g1:checked {
  & ~ #timer .fill {
    animation-play-state: paused !important;
  }

  & ~ #lose  {
    display: none;
  }

  & ~ #win,
  & ~ #win .card {
    animation-play-state: running !important;
  }
}
