// Letsago!

#start:checked {
  & + label {
    animation: woosh 0.25s 0.25s forwards;
  }

  & ~ section > embed:first-child {
    display: revert;
  }

  & ~ section .p1 {
    display: block;
  }

  & ~ section #timer {
    opacity: 1;
    visibility: visible;
  }

  & ~ section #timer .fill,
  & ~ section #lose,
  & ~ section #lose h4,
  & ~ section em > i {
    animation-play-state: running;
  }
}



// Win :)

#p6g1:checked {
  & ~ #timer .fill,
  & ~ #lose {
    animation-play-state: paused !important;
  }

  & ~ #win,
  & ~ #win h4 {
    animation-play-state: running !important;
  }
}
