#win {
  background: url('img/bg.png') 50% 50% no-repeat;
  background-size: cover;
  animation: win 0.5s 2s both;
  animation-play-state: paused;
  bottom: 0;
  display: grid;
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: 1000;

  h4 {
    background: url('img/win.png') 50% 50% no-repeat;
    background-size: contain;
    color: #dc7822;
    font-size: 124px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 30px 0;
  }
}

@keyframes win {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
