#win {
  @extend %bg;
  @extend %fixed;
  animation: win 0.5s 2s both paused;
  visibility: hidden;
  z-index: 1000;

  h4 {
    animation: blast 0.5s 3s both paused;
    background: url('img/win.webp') 50% 50% no-repeat;
    background-size: contain;
    color: #dc7822;
    font-size: 170px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 20px 50px 0;
  }
}

@keyframes win {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blast {
  0% {
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
  }
  80% {
    transform: scale(1.05);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
