#win {
  @extend %bg;
  @extend %fixed;
  animation: win 0.5s 2s both paused;
  visibility: hidden;
  z-index: 3000;

  .card {
    animation: blast 0.5s 3s both paused;
    height: 290px;
    width: 250px;

    .card-front {
      background: url('img/win.webp') 50% 50% no-repeat;
      background-size: contain;
      color: darken(#dc7822, 10%);
      font-size: 160px;
      line-height: 2;
    }

    .card-back {
      background: url('img/win.webp') 50% 50% no-repeat;
      background-size: contain;
      display: grid;
      place-items: center;
      transform: rotateY(180deg);

      div {
        color: darken(#dc7822, 10%);
        margin-left: 5px;
        margin-top: -3rem;
      }
    }
  }

  &:hover embed {
    display: revert;
  }
}

@keyframes win {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blast {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    visibility: hidden;
  }
  80% {
    opacity: 0.8;
    transform: scale(1.05);
    visibility: visible;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}
