$ingametimer: 78s;
$startdelay: 3s;

$red: #cc4327;
$brown: #4b2512;

$pX: 1rem;

%bg {
  background:
    url('img/left_column.webp') -32px 50% no-repeat,
    url('img/right_column.webp') calc(100% + 37px) 50% no-repeat,
    url('img/bg.webp') 50% 50% no-repeat;
  background-size: 11%, 11%, cover;
}

%fixed {
  bottom: 0;
  display: grid;
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  top: 0;
}

%mirrorskew {
  opacity: 0;
  perspective: 100px;
  perspective-origin: 50% 25%;
  transform: scaleY(-1) translateY(-0.25rem);
  transition: all 0.25s 0.25s;
  visibility: hidden;
}

@import "./fonts.scss";
@import "./base.scss";
@import "./lose.scss";
@import "./play.scss";
@import "./puzzles.scss";
@import "./timer.scss";
@import "./title.scss";
@import "./transitions.scss";
@import "./win.scss";
