<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cheval Glyph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { display: none; }
    </style>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    {{ content | safe }}

    <style>
      body { display: block; }
    </style>
  </body>
</html>
