<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hiero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { background: #111; }
      embed { display: none; }
    </style>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <audio src="sound/vinyl.ogg" autoplay></audio>
    <div class="loading">
      <div class="load">Loading…</div>
      <div class="sorry">Sorry, but this game requires a minimum screensize of 1024&times;600…</div>
      <div></div>
    </div>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
