---
layout: base.njk
---

<!-- Title -->
<input type="checkbox" id="start" autofocus>
<label for="start">
  <div>
    <h1>
      <div><b>H</b>ierogl<i>y</i>ph</div>
      <div><em><b>H</b>ierogl<i>y</i>ph</em></div>
    </h1>

    <footer>Gamedev.js Jam 2021 | Daniel Marino | Powered by HTML/CSS</footer>
    <audio src="sound/vinyl.ogg" autoplay>
    <audio src="sound/wahh.ogg" autoplay>
  </div>
</label>

<section>
  <embed src="sound/percussion.ogg" width="0" height="0">

  <!-- Puzzles -->
  {% for puzzle in puzzles %}
    {% set p = loop.index %}

    {% for glyph in puzzle.patterns %}
      <input class="p{{ p }} g{{ loop.index }}" id="p{{ p }}g{{ loop.index }}" name="p{{ p }}" type="radio">
      <label class="p{{ p }} g{{ loop.index }} h{{ loop.index }}" for="p{{ p }}g{{ loop.index }}" data-glyph>{{ glyph[0] }}</label>
      <div class="p{{ p }} r{{ loop.index }}"><em><i>{{ glyph[1] }}</i></em></div>
    {% endfor %}

    <h3 class="p{{ p }} g{{ loop.index }}">Puzzle {{ loop.index }} / {{ puzzles.length }} — Select the mismatched hieroglyph</h3>
    <embed class="s{{ p }}" src="sound/ding.mp3" width="0" height="0">
  {% endfor %}

  <!-- Timer -->
  <div id="timer">
    <div class="fill"></div>
    <img src="img/timer.webp" width="400" height="33">
  </div>

  <!-- Win -->
  <div id="win">
    <div>
      <h4>𓀠</h4>
      <footer>
        Refresh the browser to play again
      </footer>
    </div>
  </div>

  <!-- Lose -->
  <div id="lose">
    <div>
      <h4>𓀿</h4>
      <footer>
        Refresh the browser to try again
        <embed src="sound/lose.ogg" width="0" height="0">
      </footer>
    </div>
  </div>
</section>

<hr>
