---
layout: base.njk
---

<!-- Title -->
<input type="checkbox" id="start">
<label for="start">
  <div>
    <h1>Glyph Mirror</h1>
    <p>Click anywhere to begin</p>
  </div>
</label>

<section>
  <!-- Puzzles -->
  {% for puzzle in puzzles %}
    {% set p = loop.index %}

    {% for glyph in puzzle.patterns %}
      <input class="p{{ p }} g{{ loop.index }}" id="p{{ p }}g{{ loop.index }}" type="checkbox">
      <label class="p{{ p }} g{{ loop.index }} h{{ loop.index }}" for="p{{ p }}g{{ loop.index }}" data-glyph="{{ glyph[1] }}">{{ glyph[0] }}</label>
    {% endfor %}

    <h2 class="p{{ p }} g{{ loop.index }}">Level {{ loop.index }}</h2>
  {% endfor %}

  <!-- Timer -->
  <div id="timer">
    <div class="fill"></div>
    <img src="img/timer.png" width="400" height="33">
  </div>

  <!-- Win -->
  <div id="win">
    <div>
      <h1>You Win!</h1>
      <p>Refresh the browser to play again</p>
    </div>
  </div>

  <!-- Lose -->
  <div id="lose">
    <div>
      <h1>You Lose!</h1>
      <p>Refresh the browser to play again</p>
    </div>
  </div>
</section>
