---
layout: base.njk
---

<!-- Title -->
<input type="checkbox" id="start" autofocus>
<label for="start">
  <div>
    {# <h1><b>C</b>he<span>v</span>al <b><i>G</i></b>ly<span>p</span>h</h1> #}
    <h1>Mirror</h1>
    <h2>Press&nbsp;<strong>SPACE</strong>&nbsp;to continue</h2>
    <footer>Gamedev.js Jam 2021 | Daniel Marino | Powered by HTML/CSS</footer>
  </div>
</label>

<section>
  <!-- Puzzles -->
  {% for puzzle in puzzles %}
    {% set p = loop.index %}

    {% for glyph in puzzle.patterns %}
      <input class="p{{ p }} g{{ loop.index }}" id="p{{ p }}g{{ loop.index }}" name="p{{ p }}" type="radio">
      <label class="p{{ p }} g{{ loop.index }} h{{ loop.index }}" for="p{{ p }}g{{ loop.index }}" data-glyph>{{ glyph[0] }}</label>
      <div class="p{{ p }} r{{ loop.index }}"><em>{{ glyph[1] }}</em></div>
    {% endfor %}

    {% if p == 1 %}
      <h3 class="p{{ p }} g{{ loop.index }}">How to play</h3>
    {% else %}
      <h3 class="p{{ p }} g{{ loop.index }}">Puzzle {{ loop.index - 1 }} / {{ puzzles.length - 1 }}</h3>
    {% endif %}
  {% endfor %}

  <!-- Timer -->
  <div id="timer">
    <div class="fill"></div>
    <img src="img/timer.png" width="400" height="33">
  </div>

  <!-- Win -->
  <div id="win">
    <hr>
    <div>
      <h4>𓀠</h4>
      <footer>
        <strong>Refresh</strong>&nbsp;the browser to play again
      </footer>
    </div>
  </div>

  <!-- Lose -->
  <div id="lose">
    <hr>
    <div>
      <h4>𓀿</h4>
      <footer>
        <strong>Refresh</strong>&nbsp;the browser to try again
      </footer>
    </div>
  </div>
</section>

<hr>
