*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  background: url('img/bg.png') 50% 50% no-repeat;
  background-size: cover;
  color: $brown;
  font-family: 'Stardom';
  height: 100vh;
  margin: 0;
}

input {
  clip-path: polygon(0 0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

section {
  bottom: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    ". header header header header header header header ."
    ". . . . . . . . ."
    ". glyph1 glyph2 glyph3 glyph4 glyph5 glyph6 glyph7 ."
    ". reflect1 reflect2 reflect3 reflect4 reflect5 reflect6 reflect7 ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  grid-template-columns: 1fr repeat(7, 140px) 1fr;
  grid-template-rows: auto 1fr repeat(2, 140px) 1fr 1fr;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

hr {
  animation: bg 7s infinite both;
  background: radial-gradient(transparent, rgba(#000, 0.2));
  border: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 2000;
}

@keyframes bg {
  50% {
    opacity: 0;
  }
}
