@font-face {
  font-family: 'Stardom';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Stardom-Regular.woff2') format('woff2'),
       url('../fonts/Stardom-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/kalam-v11-latin-700.woff2') format('woff2'),
       url('../fonts/kalam-v11-latin-700.woff') format('woff');
}
