@font-face {
  font-family: 'Stardom';
  src: url('../fonts/Stardom-Regular.woff2') format('woff2'),
       url('../fonts/Stardom-Regular.woff') format('woff'),
       url('../fonts/Stardom-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
