#lose {
  animation: lose 0.5s $ingametimer + $startdelay + 1s both;
  animation-play-state: paused;
  background: url('img/bg.png') 50% 50% no-repeat;
  background-size: cover;
  bottom: 0;
  display: grid;
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: 1000;

  h4 {
    background: url('img/lose.png') 50% 50% no-repeat;
    background-size: contain;
    color: #845c43;
    font-size: 124px;
    line-height: 1;
    margin: 0;
    padding: 0 0 50px;
  }
}

@keyframes lose {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
