h2 {
  grid-area: header;
}

[data-glyph] {
  font-size: 96px;
  transition: all 0.5s;

  &::after {
    background: #fff;
    border: 1px solid;
    box-shadow: 0 -3px 6px rgba(#000, 0.2);
    content: attr(data-glyph);
    display: block;
    opacity: 0;
    transform: scaleY(-1) translateY(-1rem);
    transition: all 0.5s;
    visibility: hidden;
  }
}

label:hover::after {
  opacity: 1;
  transform: scaleY(-1) translateY(0);
  visibility: visible;
}

section {
  :checked + label {
    color: red;
  }

  :checked + label::after {
    color: red;
    opacity: 1;
    transform: scaleY(-1) translateY(0);
    visibility: visible;
  }
}

@for $puzzle from 1 through 10 {
  .p#{$puzzle} {
    display: none;
  }
}

@for $in from 1 through 10 {
  .g#{$in} {
    animation: enter 1s 2.5 + $in * .1s 1 both;
  }
}

@for $puzzle from 1 through 10 {
  #p#{$puzzle}g1:checked {
    animation: exit 1s 1s both;
    pointer-events: none;

    ~ .p#{$puzzle + 1} {
      display: block;
    }
  }
}

@for $puzzle from 1 through 10 {
  @for $out from 1 through 10 {
    #p#{$puzzle}g1:checked ~ .p#{$puzzle}.g#{$out} {
      animation: exit 1s 1 + $out * .1s 1 both;
      pointer-events: none;
    }
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX($pX);
    visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  to {
    opacity: 0;
    transform: translateX(-$pX);
    visibility: hidden;
  }
}
