// Puzzle 1
.p1.h1 { grid-area: glyph4; }
.p1.h2 { grid-area: glyph5; }
.p1.h3 { grid-area: glyph6; }
.p1.r1 { grid-area: reflect4; }
.p1.r2 { grid-area: reflect5; }
.p1.r3 { grid-area: reflect6; }

// Puzzle 2
.p2.h1 { grid-area: glyph4; }
.p2.h2 { grid-area: glyph5; }
.p2.h3 { grid-area: glyph6; }

// Puzzle 5
.p3.h1 { grid-area: glyph3; }
.p3.h2 { grid-area: glyph4; }
.p3.h3 { grid-area: glyph5; }
.p3.h4 { grid-area: glyph6; }
.p3.h5 { grid-area: glyph7; }

// Puzzle 6
.p4.h1 { grid-area: glyph3; }
.p4.h2 { grid-area: glyph4; }
.p4.h3 { grid-area: glyph5; }
.p4.h4 { grid-area: glyph6; }
.p4.h5 { grid-area: glyph7; }
