// One
.p1.h1 { grid-area: glyph4; }
.p1.h2 { grid-area: glyph3; }
.p1.h3 { grid-area: glyph5; }
.p1.r1 { grid-area: reflect4; }
.p1.r2 { grid-area: reflect3; }
.p1.r3 { grid-area: reflect5; }


// Two
.p2.h1 { grid-area: glyph6; }
.p2.h2 { grid-area: glyph2; }
.p2.h3 { grid-area: glyph3; }
.p2.h4 { grid-area: glyph4; }
.p2.h5 { grid-area: glyph5; }
.p2.h6 { grid-area: glyph1; }
.p2.h7 { grid-area: glyph7; }
.p2.r1 { grid-area: reflect6; }
.p2.r2 { grid-area: reflect2; }
.p2.r3 { grid-area: reflect3; }
.p2.r4 { grid-area: reflect4; }
.p2.r5 { grid-area: reflect5; }
.p2.r6 { grid-area: reflect1; }
.p2.r7 { grid-area: reflect7; }
