[for="start"] {
  background: url('img/mirrorshadow.png') 50% 31% no-repeat;
  background-size: 240px;
  bottom: 0;
  display: grid;
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000;

  span {
    display: inline-block;
    margin: 0 0.03em 0 0.1em;
  }

  footer {
    bottom: 1rem;
    font-size: 0.9rem;
    left: 50%;
    margin-left: -250px;
    opacity: 0.5;
    position: absolute;
    width: 500px;
  }

  h1 {
    margin-bottom: 1em;
  }
}

@keyframes h1 {
  50% {
    text-shadow: 0 4px 0 darken($red, 15%), 0 2rem 1rem rgba(#000, 0.1);
    transform: skewX(-7deg) rotate(-7deg) translateY(-0.25rem) scale(1.01);
  }
}

@keyframes woosh {
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
  }
}
