// Letsago!

#start:checked {
  & + label {
    animation: woosh 0.25s 0.25s forwards;
  }

  & ~ section .p1 {
    display: block;
  }

  & ~ section #timer {
    opacity: 1;
    visibility: visible;
  }

  & ~ section #timer .fill,
  & ~ section #lose {
    animation-play-state: running;
  }
}



// Win :)

#p1g1:checked {
  & ~ #timer .fill,
  & ~ #lose {
    animation-play-state: paused !important;
  }

  & ~ #win {
    animation-play-state: running !important;
  }
}
