$ingametimer: 2s;
$startdelay: 3s;

$red: #cc4327;
$brown: #4b2512;

$pX: 1rem;

@import "./fonts.scss";
@import "./base.scss";
@import "./lose.scss";
@import "./play.scss";
@import "./puzzles.scss";
@import "./timer.scss";
@import "./title.scss";
@import "./transitions.scss";
@import "./win.scss";
