$ingametimer: 10s;
$startdelay: 3s;

$pX: 1rem;

@import "./fonts.scss";
@import "./base.scss";
@import "./puzzles.scss";
@import "./timer.scss";
@import "./title.scss";
@import "./transitions.scss";
